.blog-section{
        display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.95);

}
.blog-title-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}
.blog-title-container h1{
    font-size: 60px;
}
.blog__inner{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    margin-top: 5%;
}
.blog-title-image{
    padding: 0 0 50px 0;
    width: 20%;
}