.post-input{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;

}
.post-input *{
    margin-bottom: 2%;
}
.post-text-input{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.post-image-upload{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.create-post-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 100px;
}