.radio-container {
    display: block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radio-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: white;
    border-radius: 50%;
    border: solid #005cbf;
}

.radio-container:hover input ~ .radio-checkmark {
    background-color: #bbe1fa;
}

.radio-container input:checked ~ .radio-checkmark {
    background-color: #005cbf;
    border: none;
}

.radio-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio-container input:checked ~ .radio-checkmark:after {
    display: block;
}

.radio-container .radio-checkmark:after {
    left: 10px;
    top: 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
}


.svg-radio li {
    display: list-item;
    position: relative;
    list-style: none;
    padding: 0;

}

.svg-radio input[type="radio"] {
    display: inline-block;
    vertical-align: middle;
    opacity: 0;

}

.svg-radio input[type="radio"],
.svg-radio label::before {
    width: 22px;
    height: 22px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

}

.svg-radio input[type="radio"],
.svg-radio label::before {
    border-radius: 50%;

}

.svg-radio label {
    display: inline-block;
    position: relative;
    padding: 0 0 0 30px;
    color: #000;
    font-size: 15px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
}

.svg-radio label::before {
    content: '';
    transition: opacity 0.3s;
}

.svg-radio input[type="radio"]:checked + label::before {
    opacity: 1;
}

.svg-radio svg {
    position: absolute;
    left: 0px;
    width: 22px;
    height: 22px;
    pointer-events: none;
}

.svg-radio svg circle {
    fill: #fff;
    transition: stroke-dashoffset 0.3s ease-in 0s;
}

.svg-radio input[type="radio"]:checked ~ svg circle {
    stroke-dashoffset: 0;
}

