.comment-form{
    position: relative;
    background: white;
    width: 100%;
}
.comment-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 95%;
}

.comment-form__inner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.load-more-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #bbe1fa;
    border-left: solid #3282b8;
    border-right: solid #3282b8;
    width: 80%;
    animation: anim-glow 2s ease infinite;
}

.comment-buttons{
    display: flex;
    justify-content: space-around;
    width: 80%;
}

@media all and (max-width: 450px) {
    .comment-buttons{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 80%;
    }
}