.stages-form__inner {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: auto;
    width: 100%;


}

.stages-form {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-image: url("../../assets/stageBg.jpg");
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
}

.stages-form-title {
    font-size: calc(20px + 1.2vw);
    font-weight: 500;
    margin: 3% auto 5% auto;
    color: #fff;
    text-align: center;
    font-family: Montserrat, sans-serif;

}

@media all and (max-width: 849px){
    .stages-form__inner{
        width: 90%;
        margin: 0 auto;
    }
}
