.contact-form{
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: white;
    background-size: cover;
    padding-bottom: 100px;
}

.contact-form::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/contactFormBg1 (1).jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.contact-form-title {
    position: relative;
    font-size: calc(20px + 1.2vw);
    text-transform: uppercase;
    font-weight: 300;
    margin: 3% auto 5% auto;
    color: #fff;
    text-align: center;
    font-family: Montserrat, sans-serif;

}

.contact-form__inner{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    text-align: center;
    flex-direction: row;
    font-family: Montserrat, sans-serif;
}
.go-to-brief{
    width: 30%;
}
.go-to-brief p{
    font-size: calc(20px + 1vw);
    font-weight: 500;
    color: #fff;
}
.go-to-brief-button{
    border: 2px solid white;
    border-radius: 50px;
    padding: 120px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: calc(15px + 1.1vw);
    margin-top:7%;
    margin-bottom:7%;
    background-color: rgba(0, 0, 0, 0.75);;
    background-position: 100% 0;
    background-size: 200% 200%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #fff !important;
    box-shadow: 0 16px 32px 0 rgba(253, 248, 255, 0.75);
    transition: .5s;
    outline: none;
    cursor: pointer;
}


/*.go-to-brief-button:hover{*/
/*    box-shadow: 0 0 0 0 rgba(236, 143, 3, 0);*/
/*    background-position: 0 0;*/
/*    text-decoration: none !important;*/
/*    color: #fff;*/
/*    background-color: rgba(0, 0, 0, 0.75);*/
/*}*/
.go-to-brief-button:hover{
    box-shadow: 0 0 0 0 rgba(236, 143, 3, 0);
    background-position: 0 0;
    text-decoration: none !important;
    color: #000!important;
    background-color: rgba(255, 255, 255, 0.8);
    border-color: rgba(202, 202, 202, 0.34);
}

.contact-form-title{
    font-size: calc(20px + 1.2vw);
    font-weight: 500;
    margin: 3% auto 5% auto;
    color: #fff;
    text-align: center;
    font-family: Montserrat, sans-serif;
}
.send-contact-form {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.send-contact-form p{
    font-size: calc(20px + 1.2vw);
    font-weight: 500;
    color: white;
}
.input-container{
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 500px;
    background: rgba(0,0,0,0.7);
}

.contactus-form{
    width: 80%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;

    padding: 30px 0;
}

@media all and (max-width: 849px){
    .contact-form__inner{
        flex-direction: column;
    }
    .send-contact-form{
        width: 100%;
    }

    .input-container{
        width: 90%;
        margin-bottom: 80px;
    }

    .go-to-brief{
        width: 100%;
    }
    .contact-form-title {
        font-size: calc(25px + 1.2vw);
        padding: 50px 0 0 0;
    }
    .go-to-brief-button{

        padding: 20px 70px;

    }
}
