.custom-input-field {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 2px solid #1b262c86;
    border-radius: 5px;
  }
  .custom-input-field:focus {
    
    border: 2px solid #1b262c;
    outline: none;
    -webkit-box-shadow: 0 0 0 2px  #1b262c21 !important;
    box-shadow: 0 0 0 2px  #1b262c21 !important;
  }
  .custom-input-field:hover{
    border-color: #1b262c !important;
    -webkit-transition: 0.5s;
  transition: 0.5s;
  }
  .custom-input-field::-webkit-outer-spin-button,
  .custom-input-field::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.custom-input-field[type=number] {
  -moz-appearance: textfield;
}