.radio-container {
  display: block;
  position: relative;
  padding-left: 45px;
  margin-bottom: 12px;
  cursor: pointer;
  
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  }
  
 
  .radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .radio-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 35px;
    width: 35px;
    background-color: white;
    border-radius: 50%;
    border: solid;
    border-color: #0f4c75;
  }
  
  .radio-container:hover input ~ .radio-checkmark {
    background-color: #bbe1fa;
  }
  
  .radio-container input:checked ~ .radio-checkmark {
    background-color:#3282b8;
    border: none;
  }
  
  .radio-checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .radio-container input:checked ~ .radio-checkmark:after {
    display: block;
  }
  
  .radio-container .radio-checkmark:after {
    left: 10px;
    top: 10px;
    width: 15px;
    height: 15px;
      border-radius: 50%;
      background: white;
  }